NEXT_PUBLIC_API_URL=....
NEXT_PUBLIC_GITHUB_CLIENT_ID=...

# make the name of the file .env.local and add the above two lines to it, then replace the values with your own values
# then write npm install to isntall the all dependencies
# then write npm run dev to start the development server